<div class = "row">
    <div class = "gallery">
                <h2 class = "h2"><span class = "decorate">Artist</span>Gallery</h2>
                {{!--Login in as Artist here--}}
                <div>
                <h3 class = "h3">Connect Here &nbsp; <a href = "/login">Login as an Artist</a></h3>
            </div> 
            <div>
                <h3 class = "h3">Join as an Artist &nbsp; <a href = "/signup">Sign up as an Artist</a></h3>
            </div> 
            </div>   
                 
 <div>
     
   {{#each artisans as |artisan|}}

    <th>{{id}}</th>
    <td>{{artisan-name}}</td>
    <td>{{artisan-content}}</td>
    <td>{{artisan-description}}</td>
    <td>{{date_created}}</td>


{{/each}}

 </div>
        </div>
    </div>
</div>



<script src="jss/login.js"></script>
<script src="jss/signup.js"></script>





