<div class "main">
<div class = "row">
    <div class = "col-md-6">
        <h2 class = "h1-centre"><span class = "decorate">Art</span>isan <span class = "decorate">Inter</span>space</h2>
        <div class = "container">
            <div class = "row">
                <h2 class = "h1-centre"><span class = "decorate">Art</span>ist <span class = "decorate">Gal</span>lery</h2>
            </div>           
 <div class="art">
     <table class = "table-art" style = "margin:auto">
         <thead>
             <tr>
                 <th align = "center"><abbr title = "date_created">Date Created</abbr></th>
                 <th align = "center"><abbr title ="artisan-name">Artist Name</abbr></th>
                   <th align = "center"><abbr title ="artisan-description">Description of Work</abbr></th>
             </tr>
         </thead>
         <tbody>
    {{#each artisans as |artisan|}}
<tr>
    <th>{{id}}</th>
    <td>{{artisan-name}}</td>
    <td>{{artisan-content}}</td>
    <td>{{artisan-description}}</td>
    <td>{{date_created}}</td>

</tr>
{{/each}}
</tbody>

     </table>
 </div>
        </div>
    </div>
</div>
</div>


<script src="jss/login.js"></script>
<script src="jss/signup.js"></script>


