<div class="row">
  <div class="col-auto">
    <h2 class = "h2"><span class = "decorate">W</span>elcome, {{name}} {{email}} 
    </h2>
  </div>
</div>
{{!-- Start of main profile section for logged in artist--}}
<div class="row">
  <div class="col-md-6">
     {{#if artisans.length}}
    <h3 class = "h3">Art Work:</h3>
  <div class="col-md-6 project-list">
    {{#each artisans as |artisan|}}
    <div class="row">
      <div class="col-md-6">
        <h4><a href="/artisan/{{artisan.id}}">{{artisan.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{artisan.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/jss/profile.js"></script>
